# Hugo
/public/
/resources/_gen/
.hugo_build.lock
/data/
/tmp/
/temp/

# Backups & local config
*.bak*

# macOS
.DS_Store

# Logs
*.log

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
