{{ define "head" }}
  <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js" defer></script>
{{ end }}

{{ define "main" }}
  <div class="container">
    <header class="list-header">
      <h1 class="list-title">{{ .Title }}</h1>
      {{ with .Content }}
        <div class="list-content">
          {{ . }}
        </div>
      {{ end }}
    </header>

    <div class="search-form-container">
      <input type="search" id="search-input" class="search-input" placeholder="記事を検索...">
    </div>

    <div id="post-list" class="post-card-grid">
      {{ range .Paginator.Pages }}
        {{ partial "card.html" . }}
      {{ end }}
    </div>

    <div id="search-results-container" class="post-card-grid" style="display: none;"></div>

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
