{{/*
  記事ページ用の2カラムレイアウト部品。
  layouts/_default/single.html から呼び出される。
*/}}
<div class="article-layout">
  <article class="article-content">
    <header class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="article-meta">
        {{ $authors := .Param "author" }}
        {{ $authorList := slice }}
        {{ $hasMeta := false }}
        {{ if $authors }}
          {{ $type := printf "%T" $authors }}
          {{ if hasPrefix $type "[]" }}
            {{ $authorList = $authors }}
          {{ else }}
            {{ $authorList = slice $authors }}
          {{ end }}
          {{ if gt (len $authorList) 0 }}
            <span class="article-author">{{ delimit $authorList ", " }}</span>
            {{ $hasMeta = true }}
          {{ end }}
        {{ end }}
        {{ if not .Date.IsZero }}
          {{ if $hasMeta }}<span class="meta-separator">&middot;</span>{{ end }}
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006年1月2日" }}</time>
          {{ $hasMeta = true }}
        {{ end }}
        {{ if $hasMeta }}<span class="meta-separator">&middot;</span>{{ end }}
        <span>約{{ .ReadingTime }}分で読めます</span>
      </div>
    </header>
    <div class="content">
      {{ .Content }}
    </div>

    {{ partial "share-buttons.html" . }}
  </article>

  <aside class="article-sidebar">
    <div class="toc-wrapper">
      <h5>目次</h5>
      {{ .TableOfContents }}
    </div>
  </aside>
</div>
